{% extends "layout.twig" %}

{% block content %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="main-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{asset('images/logo-tiny.png')}}"><span class="color-pie-blue">PIE 24/7</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#section-company">Company</a></li>
                    <li><a href="#section-products">Products</a></li>
                    <li><a href="#section-money">Money</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <section id="section-company" style="padding-top:70px;">

        <div class="container container-sm">
            <div class="row">

                <div class="col-xs-12">
                    <div class="video-wrapper">
                        <iframe src="https://fast.wistia.net/embed/iframe/ubzh1nyn6n?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="600" height="366"></iframe><script src="https://fast.wistia.net/assets/external/iframe-api-v1.js"></script>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="text-center">
                        <form action="https://pie247.com/sign-up/" name="form" method="post" style="margin:0; padding:0;">
                            <input type="hidden" name="enrollerKeyCode" value="">
                            <input type="submit" class="btn btn-warning btn-lg" value="JOIN NOW">
                        </form>
                    </div>
                    <h3 class="text-center"><strong>PIE 24/7 was designed to help everyone succeed from home,<br>not just a few people at the top.<br>The PIE 24/7 system works for everyone.</strong></h3>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2><span class="color-pie-orange txt-shadow">Suggested Business Start-up:</span><br>$5 Activation + $45 Product.<br>A $20 dollar savings during our Pre-Launch Phase.</h2>
                            <h2><span class="color-pie-orange txt-shadow">Potential Earnings:</span><br>Virtually Unlimited!</h2>
                            <p class="text-center"><img src="{{asset('images/photo-1.png')}}" class="img-responsive" style="margin:0 auto;"></p>
                            <h2 class="text-center"><span class="color-pie-orange txt-shadow">BONUS OFFER:</span></h2>
                            <form action="https://pie247.com/sign-up/" name="form" method="post" class="text-center">
                                <input type="hidden" name="enrollerKeyCode" value="">
                                <input type="submit" class="btn btn-warning" value="JOIN FREE Today During Pre-Launch!">
                                <h4 class="text-center">See Offer Below!</h4>
                            </form>
                            <p style="font-size:10px;"><em>* Legal Disclaimer - Any and all claims or representations, as to income earnings on this web site, are not to be considered as average earnings. Testimonials are expressions of individual Business Partners.</em></p>
                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="text-center">
                                        <img src="{{asset('images/portrait4.png')}}" class="img-responsive img-circle" style="margin:0 auto; width:100%; max-width:200px;">
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <h4><em>“I've always wanted to be in business for myself. Now I am, and it took just minutes!”</em></h4>
                                    <h4 class="color-pie-orange">Kerry W., Orlando, Florida</h4>
                                    <div class="text-center">
                                        <form action="https://pie247.com/sign-up/" name="form" method="post" style="margin:0; padding:0; padding-top:30px;">
                                            <input type="hidden" name="enrollerKeyCode" value="">
                                            <input type="submit" class="btn btn-warning btn-lg" value="JOIN NOW">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center"><span class="color-pie-orange txt-shadow">HOW YOU GET PAID:</span></h2>
                            <div class="text-center">
                                <ul class="list-group">
                                    <li class="list-group-item text-left"><h3><strong class="color-pie-green txt-shadow">1</strong>  Join today &amp; receive your own web site</h3></li>
                                    <li class="list-group-item text-left"><h3><strong class="color-pie-green txt-shadow">2</strong>  Refer 3 through your web site</h3></li>
                                    <li class="list-group-item text-left"><h3><strong class="color-pie-green txt-shadow">3</strong>  Support your team to do the same</h3></li>
                                </ul>
                            </div>
                            <h2 class="text-center"><span class="color-pie-orange txt-shadow">THAT’S IT!  YOU ARE DONE!</span></h2>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="text-center">
                                        <img src="{{asset('images/photo-8.png')}}" class="img-responsive" style="margin:0 auto;">
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <h3><strong class="color-pie-green txt-shadow"><span class="glyphicon glyphicon-ok"></span></strong> No more out of pocket</h3>
                                    <h3><strong class="color-pie-green txt-shadow"><span class="glyphicon glyphicon-ok"></span></strong> No more recruiting</h3>
                                    <h3><strong class="color-pie-green txt-shadow"><span class="glyphicon glyphicon-ok"></span></strong> No meetings</h3>
                                    <h3><strong class="color-pie-green txt-shadow"><span class="glyphicon glyphicon-ok"></span></strong> No sales</h3>
                                    <h3><strong class="color-pie-green txt-shadow"><span class="glyphicon glyphicon-ok"></span></strong> No experience</h3>
                                    <h3><strong class="color-pie-green txt-shadow"><span class="glyphicon glyphicon-ok"></span></strong> No competition</h3>
                                    <h3><strong class="color-pie-green txt-shadow"><span class="glyphicon glyphicon-ok"></span></strong> No problem</h3>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center"><span class="color-pie-orange txt-shadow">BONUS OFFER: LOCK IN YOUR TOP MEMBERSHIP POSITION FREE TODAY!</span></h2>
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3><em>PIE 24/7 Founder, David T Rosen, is so sure you will enjoy the benefits and financial rewards of being a member, he is
                                            <form action="https://pie247.com/sign-up/" name="form" method="post" style="display:inline; padding:0; margin:0;">
                                                <input type="hidden" name="enrollerKeyCode" value="">
                                                <input type="submit" value="Allowing You to Register" class="color-pie-blue" style="border:0; background:transparent;">
                                            </form>
                                            your top position FREE!</em></h3>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-center">
                                        <img src="{{asset('images/photo-2.png')}}" class="img-responsive" style="margin:0 auto; max-width:250px; width:100%;">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12 text-center">
                    <form action="https://pie247.com/sign-up/" name="form" method="post" style="padding:0; margin:0;">
                        <input type="hidden" name="enrollerKeyCode" value="">
                        <input type="submit" class="btn btn-warning btn-lg" style="margin-bottom:10px;" value="JOIN NOW">
                    </form>
                </div>

            </div> <!-- /row -->

        </div> <!-- /container -->

    </section>
    <section id="section-products">

        <div class="container container-sm">

            <div class="row" style="padding-bottom:0;">

                <div class="col-xs-12">
                    <div class="video-wrapper">
                        <iframe src="https://fast.wistia.net/embed/iframe/3gjzt53nfb?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="600" height="366"></iframe><script src="https://fast.wistia.net/assets/external/iframe-api-v1.js"></script>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="text-center">
                        <form action="https://pie247.com/sign-up/" name="form" method="post" style="margin:0; padding:0; padding-top:30px;">
                            <input type="hidden" name="enrollerKeyCode" value="">
                            <input type="submit" class="btn btn-warning btn-lg" value="JOIN NOW">
                        </form>
                    </div>
                    <h3 class="text-center"><strong>PIE 24/7 was designed to help everyone succeed from home,<br>not just a few people at the top.<br>The PIE 24/7 system works for everyone.</strong></h3>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="text-center color-pie-blue txt-shadow">LOCK IN YOUR TOP PAY MATRIX MEMBERSHIP TODAY ABOVE THE MASSES!</h2>
                                    <h2 class="text-center color-pie-orange txt-shadow">Two Join Options During Our Pre-Launch</h2>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <h2 class="color-pie-blue txt-shadow">FREE<br><span class="glyphicon glyphicon-chevron-down"></span></h2>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-success"><strong>Position in Pay Matrix</strong></li>
                                        <li class="list-group-item list-group-item-info"><strong>Limited Access To Back Office</strong></li>
                                        <li class="list-group-item list-group-item-success"><strong>Limited access to products</strong></li>
                                        <li class="list-group-item list-group-item-info"><strong>Earn 1 of 3 ways</strong></li>
                                        <li class="list-group-item list-group-item-success"><strong>Free web site</strong></li>
                                        <li class="list-group-item list-group-item-info"><strong>Win cash and prizes</strong></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <h2 class="color-pie-blue txt-shadow">FULL MEMBER<br><span class="glyphicon glyphicon-chevron-down"></span></h2>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-success"><strong>Locked Position In Pay Matrix</strong></li>
                                        <li class="list-group-item list-group-item-info"><strong>Full Access to Back Office</strong></li>
                                        <li class="list-group-item list-group-item-success"><strong>Full access to products</strong></li>
                                        <li class="list-group-item list-group-item-info"><strong>Earn in all 3 ways</strong></li>
                                        <li class="list-group-item list-group-item-success"><strong>Register &amp; Save $20</strong></li>
                                        <li class="list-group-item list-group-item-info"><strong>Win cash and prizes</strong></li>
                                    </ul>
                                </div>
                                <div class="col-sm-12">
                                    <h3 class="text-center">Chose our Paid Membership Today<br>
                                        <form action="https://pie247.com/sign-up/" name="form" method="post" style="display:inline; padding:0; margin:0;">
                                            <input type="hidden" name="enrollerKeyCode" value="">
                                            <input type="submit" value="A huge 40% savings during Pre-Launch!" class="color-pie-blue" style="border:0; background:transparent;">
                                        </form>
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="text-center"><span class="color-pie-blue txt-shadow">For only $45, you will enjoy instant access to an incredible array of marketing resources delivered digitally through your Back Office</span></h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1><span class="color-pie-orange txt-shadow">Entrepreneurial Success System</span></h1>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="As an independent business owner maintaining an appealing and informative online presence can be a key success driver. PIE 24/7 Webs lets you set up a professional-grade website in just a few moments so you can concentrate on what you do best - your business.">PIE Webs</strong> - Maintain Your Online Presence</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Whether seeking customers or prospects for future business opportunities, you can’t afford to operate blind. The more you know about the people you interact with the better your chances of a successful outcome. This requires work, and PIE 24/7 Leads make it easy for you to stay organized and focused on this task.">PIE Leads</strong> - Build A List Of Targeted Customers</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Effective communications can mean the difference between a stagnant business and a successful one, but the sheer volume of email can overwhelm even the most motivated entrepreneur. PIE Email allows you to use the power of email to maximize your communications’ effectiveness while keeping e-mail flow manageable.">PIE Email</strong> - Master Your Communications</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="If you’re not a professional writer you might be unaware of how far off the mark your written communications can be. This can cost you grief, missed opportunities, and income. PIE Text helps you to ensure your text is focused on your customers—which ultimately benefits you.">PIE Text</strong> - Are You Sure You’re Focused On Your Customer?</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="It’s hard to make a positive impression and conduct business if people don’t read the messages you send. A key element is ensuring you have appealing subject lines. Why take a chance? PIE Subject Lines gives you proven eye-catchers.">PIE Subject Lines</strong> - Are People Filtering Out Your Messages?</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Quickly and easily communicate with potential customers - Make use of proven templates to boost your business - Constantly updated, professionally edited content">PIE Messaging</strong> - Know What To Say – Every Time</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Your business is most vulnerable when you’re trying to grow it, especially when you’re starting out. Advertising can help, but cash flow might not permit you to reach the biggest audiences. PIE Rotator lets you join with other professionals to maximize your collective advertising power.">PIE Rotator</strong> - Punch Above Your Advertising Weight</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Without a graphic design background it might take you a long time to develop and project the right image for your enterprise. PIE Logos lets you create professional-grade collateral efficiently so you can focus on your core business.">PIE Logos</strong> - Be Your Own Branding Expert</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Nothing beats a business card for leaving people with a lasting first impression—especially important for networking. If you need to move quickly PIE Cards lets you design a professional, customized card, even if business card design is not your strong suit.">PIE Cards</strong> - Your Business At Your Fingertips</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="As an independent business owner you can choose from a vast array of apps—many of them free—that will help you save and make money, but how do you make sense of it all? PIE 24/7 does the work for you by curating, for your selection and use, the best business apps on offer.">PIE Apps</strong> - Making Sense Of Apps</h4>


                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">
                                        <img src="{{asset('images/photo-5.png')}}" class="img-responsive" style="margin:0 auto; max-width:400px; width:100%;">
                                    </p>

                                    <h1><span class="color-pie-orange txt-shadow">Marketing Tools</span></h1>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Your entrepreneurial spirit expresses itself through your online presence. Having the right domain names and managing them properly can drive business to your door.">PIE Domains</strong> - Stake Your Claim</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Reaching out is the fastest way to grow your connections, and your earning potential, but sometimes you can lose track of this important task. Email A Friend allows you to automate the messaging process so you’re always building your network.">Email-A-Friend</strong> - Networking Made Easy</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Starting up your enterprise can be isolating. That’s why PIE 24/7 connects you to the people who know how to help you grow your business. Why go it alone?">Live Calls</strong> - Connection To The Experts</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="How do you present yourself to best advantage when meeting other network marketing prospects? We’ve done the work of creating a professional presence you can customize for your own marketing efforts.">Business Cards</strong> - Customized Network Marketing Presentation</h4>
                                    <h4><strong class="color-pie-green pop cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Everybody loves getting postcards, but not everyone has the time to select them. PIE 24/7 provides you with customizable postcards that let your contacts know how important your enterprise is - for you can now send them real mail with a professionally crafted message.">Postcards</strong> - Send A Pleasant Surprise</h4>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding:40px;">
                            <h2 class="color-pie-blue txt-shadow">LOCK IN YOUR TOP MATRIX POSITION TODAY!</h2>
                            <h3><span class="label label-warning">1</span> Choose the Free or Paid Pre-Launch Option (save $20)</h3>
                            <h3><span class="label label-warning">2</span> Receive your own web site (just like this one)</h3>
                            <h3><span class="label label-warning">3</span> Share your new web site with 3 people you care about</h3>
                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <h2 class="text-center" style="margin-top:0;"><em>“This is so simple, it’s like child’s play!”</em></h2>
                    <h4 class="text-center"><strong>Fernando Laguda, San Diego Entrepreneur</strong></h4>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12 text-center">
                    <form action="https://pie247.com/sign-up/" name="form" method="post" style="padding:0; margin:0;">
                        <input type="hidden" name="enrollerKeyCode" value="">
                        <input type="submit" class="btn btn-warning btn-lg" style="margin-bottom:10px;" value="JOIN NOW">
                    </form>
                </div>

            </div> <!-- /row -->

    </section>
    <section id="section-money">

        <div class="container container-sm">

            <div class="row">

                <div class="col-xs-12">
                    <div class="video-wrapper">
                        <iframe src="https://fast.wistia.net/embed/iframe/9ab3ahhr8u?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="600" height="366"></iframe><script src="https://fast.wistia.net/assets/external/iframe-api-v1.js"></script>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="text-center">
                                        <img src="{{asset('images/portrait3.png')}}" class="img-responsive img-circle" style="margin:0 auto; width:100%; max-width:200px;">
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <h4><em>“I've been burned by network marketing before, so I was skeptical at first. But after just a couple of weeks trying PIE, I'm convinced - this is the future of network marketing!”</em></h4>
                                    <h4 class="color-pie-orange">Wu Bin, Toronto, ON, Canada</h4>
                                    <div class="text-center">
                                        <form action="https://pie247.com/sign-up/" name="form" method="post" style="margin:0; padding:0; padding-top:30px;">
                                            <input type="hidden" name="enrollerKeyCode" value="">
                                            <input type="submit" class="btn btn-warning btn-lg" value="JOIN NOW">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h2><span class="color-pie-orange txt-shadow">PIE 24/7 REINVENTS THE<br>MLM BUSINESS OPPORTUNITY</span></h2>
                            <p class="lead">Everyone loves the idea of residual income – of doing some business today, that pays you again and again all year. Unfortunately, most MLM opportunities are far too expensive and complicated, to ever make the residual income dream possible.</p>
                            <p><img src="{{asset('images/photo-6.png')}}" class="img-responsive" style="margin:0 auto;"></p>
                            <p class="lead">This is where PIE 24/7 is different.  PIE 24/7 is the one home business where everyone can succeed. With a start-up of just $50, and with digital products that are delivered instantly, PIE 24/7 makes a residual income achievable.</p>

                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h1 class="text-center color-pie-green txt-shadow">ONE $207,000 MATRIX</h1>
                            <h2 class="text-center color-pie-orange txt-shadow">3 INCREDIBLE WAYS TO GET PAID</h2>

                            <div class="row">
                                <div class="col-sm-8">
                                    <p class="text-center">
                                        <img src="{{asset('images/commissions.png')}}" class="img-responsive" style="margin:0 auto;">
                                        <br><em>*You earn an additional $10/month for each member you personally refer.</em>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <h4 class="text-center">
                                        <a href="#" class="color-pie-blue" data-toggle="modal" data-target="#myModal1">
                                            <span class="glyphicon glyphicon-plus-sign"></span> 3 Ways To Get Paid<br><br>
                                            <img src="{{asset('images/small-photo-2.png')}}" class="img-responsive img-circle" style="margin:0 auto; margin-bottom:30px;">
                                        </a>
                                    </h4>
                                    <h4 class="text-center">
                                        <a href="#" class="color-pie-blue" data-toggle="modal" data-target="#myModal2">
                                            <span class="glyphicon glyphicon-plus-sign"></span> Full Compensation<br><br>
                                            <img src="{{asset('images/small-photo-1.png')}}" class="img-responsive img-circle" style="margin:0 auto; margin-bottom:30px;">
                                        </a>
                                    </h4>
                                    <h4 class="text-center">
                                        <a href="#" class="color-pie-blue" data-toggle="modal" data-target="#myModal3">
                                            <span class="glyphicon glyphicon-plus-sign"></span> View Our Live Presentation<br><br>
                                            <img src="{{asset('images/small-photo-3.png')}}" class="img-responsive img-circle" style="margin:0 auto;">
                                        </a>
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h2 class="color-pie-orange txt-shadow">3 Sales &amp; Your Subscription Is <span class="color-pie-green">FREE</span>!</h2>
                            <div class="text-center">
                                <ul class="list-group">
                                    <li class="list-group-item text-left"><h3><strong class="color-pie-green txt-shadow">1</strong>  Join us today for ONLY $50</h3></li>
                                    <li class="list-group-item text-left"><h3><strong class="color-pie-green txt-shadow">2</strong>  Receive your own web site (just like this one)</h3></li>
                                    <li class="list-group-item text-left"><h3><strong class="color-pie-green txt-shadow">3</strong>  Share your new web site with 3 people you care about</h3></li>
                                </ul>
                            </div>
                            <h3>That’s it!  When you make 3 new sales in PIE 24/7, you earn $10 per month for each referral ($30) and $5 for each in the Pay Matrix ($15). That’s $45 – the exact price of your monthly product store!</h3>

                        </div>
                    </div>
                </div>

            </div> <!-- /row -->
            <div class="row">

                <div class="col-xs-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h2><span class="color-pie-orange txt-shadow">You Have a Rare Opportunity!</span></h2>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h3><em>You are one of the first people in the world to hear about this amazing opportunity.  By clicking the join now button you can register <span class="color-pie-orange">FREE</span> and <span class="color-pie-orange">LOCK</span> your top position in ahead of the masses!</em></h3>
                                    <h3><em>What are you waiting for?  You have EVERYTHING to gain and nothing to lose!</em></h3>
                                    <p>
                                    <form action="https://pie247.com/sign-up/" name="form" method="post" style="margin:0; padding:0; padding-top:30px;">
                                        <input type="hidden" name="enrollerKeyCode" value="">
                                        <input type="submit" class="btn btn-warning btn-lg" style="margin-bottom:10px;" value="JOIN NOW">
                                    </form>
                                    </p>

                                </div>
                                <div class="col-sm-6">
                                    <img src="{{asset('images/photo-7.png')}}" class="img-responsive" style="margin:0 auto; margin-bottom:30px;">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- /row -->

        </div> <!-- /container -->
    </section>

    <div class="container">
        <div class="row">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style text-center">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538f7d1631e3bd5c"></script>
            <!-- AddThis Button END -->
        </div> <!-- end row -->
    </div> <!-- end container -->
    <br />

    <div class="container" id="footer">
        <p class="text-center"><a href="#"><img src="{{asset('images/logo.png')}}" class="img-responsive" style="margin:0 auto; width:100%; max-width:100px;"></a></p>
        <p class="cp text-center">&copy; <a href="http://pie247.com" target="_blank">PIE 24/7</a> 2014. All rights reserved.<br><a href="https://pie247.com/privacy/">Privacy</a> / <a href="https://pie247.com/privacy/">Terms</a></p>
    </div><!-- /footer -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
                </div>
                <div class="modal-body">
                    <!-- Contact form-->
                    <p><strong>Have any questions or comments?</strong><br>Please feel free to send us an email through this form:</p>
                    <form role="form" id="contact" name="contact" method="post" action="MAILTO:dmarkovic@matrixsoftwaregroup.net">
                        <div class="form-group">
                            <label for="cfname" class="color-pie-orange">First Name</label>
                            <input type="text" class="form-control" id="cfname" name="cfname" placeholder="Your name...">
                        </div>
                        <div class="form-group">
                            <label for="clname" class="color-pie-orange">Last Name</label>
                            <input type="text" class="form-control" id="clname" name="clname" placeholder="Your name...">
                        </div>
                        <div class="form-group">
                            <label for="cemail" class="color-pie-orange">Email</label>
                            <input type="email" class="form-control" id="cemail" name="cemail" placeholder="Your email...">
                        </div>
                        <div class="form-group">
                            <label for="cmessage" class="color-pie-orange">Message</label>
                            <textarea class="form-control" id="cmessage" name="cmessage" rows="3" placeholder="Your message..."></textarea>
                        </div>
                        <button type="submit" id="submit2" class="btn btn-success">Send Email</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal 1 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">3 Ways to Get Paid - PDF</h4>
                </div>
                <div class="modal-body">
                    <iframe src="https://pie247.com/wp-content/uploads/files/Three_Ways_To_Earn.pdf" style="width: 100%; max-width: 100%; height:600px;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">Full Compensation - PDF</h4>
                </div>
                <div class="modal-body">
                    <iframe src="https://pie247.com/wp-content/uploads/files/Matrix_Commissions_Breakout.pdf" style="width: 100%; max-width: 100%; height:600px;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel3">Live Presentation</h4>
                </div>
                <div class="modal-body">

                    <object width="560" height="315"><param name="movie" value="http://www.youtube.com/v/NBY6pbRFsf8?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/NBY6pbRFsf8?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>

    <script type='text/javascript'>//<![CDATA[
        $(window).load(function() {
            $("#main-nav ul li a[href^='#']").on('click', function(e) {
                target = this.hash;
                // prevent default anchor click behavior
                e.preventDefault();
                // animate
                $('html, body').animate({
                    scrollTop: $(this.hash).offset().top - 50
                }, 500, function(){
                    // when done, add hash to url
                    // (default click behaviour)
                    //window.location.hash = this.hash;
                    window.location.hash = target;
                });
            });
        });//]]>
    </script>

    <script>
        $(function ()
        { $(".pop").popover();
        });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>

    <script type='text/javascript'>//<![CDATA[
        $(window).load(function() {
            $("#main-nav ul li a[href^='#']").on('click', function(e) {
                target = this.hash;
                // prevent default anchor click behavior
                e.preventDefault();
                // animate
                $('html, body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 500, function(){
                    // when done, add hash to url
                    // (default click behaviour)
                    //window.location.hash = this.hash;
                    window.location.hash = target;
                });
            });
        });//]]>
    </script>
{% endblock %}